[Unit]


[Service]
User=root
Type=forking
ExecStart=/usr/bin/gnupg-pkcs11-scd --daemon
#--homedir /root/.gnupg/ --options /root/.gnupg/gnupg-pkcs11-scd.conf 
#Restart=on-abort
 
[Install]
WantedBy=default.target
